.buscador svg{
    width: 24px;
    height: 24px;
    object-view-box: 0 0 24 24;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.botones svg{
    width: 20px;
    height: 20px;
}
.botones .flecha{
    width: 30px;
    height: 30px;
}